@using Microsoft.AspNetCore.Identity
@using NashSneaker.Data

@inject UserManager<User> UserManager
@model NashSneaker.Data.Product

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Header.cshtml";

    float ratingProduct = 0;

    foreach (var item in Model.Ratings)
    {
        ratingProduct += item.Level;
    }

    ratingProduct = ratingProduct / Model.Ratings.Count();
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Shop</h1>
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Shopping", new { categoryName = Model.Category.Name })">@Model.Category.Name</a></li>
                        <li class="active">@Model.Name</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="single-product">
    <div class="container">
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <div class='carousel-inner '>
                                <div class='item active'>
                                    <img src="@Model.Images.ElementAt(0).Path" alt="" data-zoom-image="@Model.Images.ElementAt(0).Path" />
                                </div>
                                @for (int i = 1; i < Model.Images.Count(); i++)
                                {
                                    <div class='item'>
                                        <img src="@Model.Images.ElementAt(i).Path" alt="" data-zoom-image="@Model.Images.ElementAt(i).Path" />
                                    </div>
                                }
                            </div>
                            <!-- sag sol -->
                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <i class="tf-ion-ios-arrow-left"></i>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <i class="tf-ion-ios-arrow-right"></i>
                            </a>
                        </div>
                        <!-- thumb -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                                <img src='@Model.Images.ElementAt(0).Path' alt='' />
                            </li>
                            @for (int i = 1; i < Model.Images.Count(); i++)
                            {
                                <li data-target='#carousel-custom' data-slide-to=@i>
                                    <img src='@Model.Images.ElementAt(i).Path' alt='' />
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details" name="productId" data-content="@Model.Id">
                    <h2>@Model.Name</h2>
                    <p class="product-price" style="font-size: 18px;">@Model.Price VND</p>
                    <div class='rating-stars'>
                        <ul id='stars' data-content="@ratingProduct">
                            <li class='star' title='Poor' data-value='1'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                    </div>
                    <div class="product-category">
                        <span>Categories:</span>
                        <ul style="padding: 0px;">
                            <li style="margin: 0px;">@Model.Category.Name</li>
                        </ul>
                    </div>
                    <div class="product-size">
                        <span>Size:</span>
                        <select class="form-control" style="width: auto; letter-spacing: unset; padding: 6px;" id="dropDownSize">
                            @foreach (var item in Model.Sizes)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="number" value="1" min="1" max="10" name="product-quantity">
                        </div>
                    </div>
                    <a class="btn btn-main mt-20" onclick="AddtoCart()">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tabCommon mt-20">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
                    </ul>
                    <div class="tab-content patternbg">
                        <div id="details" class="tab-pane fade active in">
                            <h4>Product Description</h4>
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products related-products section">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Related Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <span class="bage">Sale</span>
                        <img class="img-responsive" src="~/images/home/pg5.jfif" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <span data-toggle="modal" data-target="#product-modal">
                                        <i class="tf-ion-ios-search"></i>
                                    </span>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Reef Boardsport</a></h4>
                        <p class="price">$200</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <img class="img-responsive" src="~/images/home/freak3.jfif" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <span data-toggle="modal" data-target="#product-modal">
                                        <i class="tf-ion-ios-search-strong"></i>
                                    </span>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Rainbow Shoes</a></h4>
                        <p class="price">$200</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <img class="img-responsive" src="~/images/home/alphafly_1.jfif" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <span data-toggle="modal" data-target="#product-modal">
                                        <i class="tf-ion-ios-search"></i>
                                    </span>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Strayhorn SP</a></h4>
                        <p class="price">$230</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <img class="img-responsive" src="~/images/home/one_take.jfif" alt="product-img" />
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <span data-toggle="modal" data-target="#product-modal">
                                        <i class="tf-ion-ios-search"></i>
                                    </span>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="product-single.html">Bradley Mid</a></h4>
                        <p class="price">$200</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">
    function AddtoCart() {
        var userId = $("li[name=userAccount]").attr("data-content");
        var productId = parseInt($("div[name=productId]").attr("data-content"));
        var quantity = parseInt($("#product-quantity").val());
        var size = parseInt($("#dropDownSize").val());

        if (userId != "") {

            $.ajax({
                async: true,
                type: 'POST',
                data: {
                    userId: userId,
                    productId: productId,
                    quantity: quantity,
                    size: size
                },
                dataType: "text",
                url: '/Cart/AddItemToCart',
                success: function (data) {
                    const obj = JSON.parse(data);
                    $("#cartCount").text(obj.cartCounter);

                    if (obj.message != "") {
                        alert(obj.message);
                    }
                },
                error: function () {
                    console.log("error")
                }
            })
        }
        else {
            alert("Bạn cần phải đăng nhập!");
        }
    }


    $(document).ready(function () {

        $("input[name=product-quantity]").change(function () {
            var quantity = $("#product-quantity").val();

            if (quantity < 1) {
                alert("Số lượng mua phải ít nhất là 1!");
                $("#product-quantity").val(1);
            }
            else if (quantity > 10) {
                alert("Số lượng mua không được lớn hơn 10!");
                $("#product-quantity").val(10);
            }
        })

        //get start on db
        var level = parseInt($("#stars").attr("data-content"));
        var listStart = $("#stars li").parent().children('li.star');

        for (var j = 0; j < level; j++) {
            $(listStart[j]).addClass('selected');
        }

        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                }
                else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });

        /* 2. Action to perform on click */
        $('#stars li').on('click', function () {
            var userId = $("li[name=userAccount]").attr("data-content");
            var productId = parseInt($("div[name=productId]").attr("data-content"));

            if (userId != "") {
                var onStar = parseInt($(this).data('value'), 10); // The star currently selected
                var stars = $(this).parent().children('li.star');

                for (i = 0; i < stars.length; i++) {
                    $(stars[i]).removeClass('selected');
                }

                for (i = 0; i < onStar; i++) {
                    $(stars[i]).addClass('selected');
                }

                // JUST RESPONSE (Not needed)
                var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);

                $.ajax({
                    async: true,
                    type: 'POST',
                    data: {
                        userId: userId,
                        productId: productId,
                        level: ratingValue
                    },
                    dataType: "text",
                    url: '/Shopping/Rating',
                    success: function () {
                        console.log("success")
                    },
                    error: function () {
                        console.log("error")
                    }
                })
            }
            else {
                alert("Bạn cần phải đăng nhập!");
            }
        });

    });
</script>
