@using Microsoft.AspNetCore.Identity
@using NashSneaker.Data
@using Microsoft.AspNetCore.Http

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>NashSneaker | E-commerce store</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Constra HTML Template v1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png" />

    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="~/plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Animate css -->
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/logo_brand.css">
    <link rel="stylesheet" href="~/css/cart.css">
    <link rel="stylesheet" href="~/css/rating.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
    </style>

</head>

<body id="body">

    <!-- Start Top Header Bar -->
    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <form action="@Url.Action("Search", "Shopping")" method="post">
                        <input type="search" class="form-control" placeholder="Search..." style="width: 70%;" name="keyword">
                    </form>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <!-- Site Logo -->
                    <div class="logo text-center" id="logo_brand">
                        <a class="logo_brand" href="@Url.Action("Index", "Home")">NASHSNEAKER</a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4">
                    <!-- Cart -->
                    <ul class="top-menu text-right list-inline">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown cart-nav dropdown-slide">
                                <a href="@Url.Action("Index", "Cart", new { userId = @UserManager.GetUserId(User) })">
                                    <i class="tf-ion-android-cart"></i>
                                    <span class='badge badge-warning' id="cartCount">@HttpContextAccessor.HttpContext.Session.GetInt32("CartCounter")</span>
                                    <span class="cartText">Cart</span>
                                </a>
                            </li><!-- / Cart -->
                            <!-- Search -->
                            <!-- / Search -->
                            <!-- SignIn -->

                            <li class="dropdown cart-nav dropdown-slide" name="userAccount" data-content="@UserManager.GetUserId(User)">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                    <i class="fas fa-user-alt" style="font-size: 12px;"></i> @UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User)).FirstName @UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User)).LastName
                                </a>
                                <div class="dropdown-menu cart-dropdown" style="right: auto; left: auto;">
                                    <!-- Item -->
                                    <div class="media">
                                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My profile</a>
                                    </div>
                                    <div class="media" style="border-bottom: 0px; padding-bottom: 0px;">
                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark" style="padding: 0px;">Logout</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown cart-nav dropdown-slide" name="userAccount" data-content="">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" style="right: auto; left: auto;">
                                    <i class="fas fa-user-alt" style="font-size: 12px;"></i> Sign In
                                </a>
                                <div class="dropdown-menu cart-dropdown">
                                    <!-- Item -->
                                    <div class="media">
                                        <a href="/Identity/Account/Login">Log In</a>
                                    </div>
                                    <div class="media" style="border-bottom: 0px; padding-bottom: 0px;">
                                        <a href="/Identity/Account/Register">Register</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End Top Header Bar -->
    <!-- Main Menu Section -->
    <section class="menu">
        <nav class="navbar navigation">
            <div class="container">
                <div class="navbar-header">
                    <h2 class="menu-title">Main Menu</h2>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div><!-- / .navbar-header -->
                <!-- Navbar Links -->
                <div id="navbar" class="navbar-collapse collapse text-center">
                    <ul class="nav navbar-nav">

                        <!-- Home -->
                        <li class="dropdown ">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li><!-- / Home -->
                        <!-- Elements -->
                        <li class="dropdown dropdown-slide">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                Menu <span class="tf-ion-ios-arrow-down"></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="row">
                                    <!-- Basic -->
                                    <div class="col-lg-12 col-md-12 mb-sm-3">
                                        @await Component.InvokeAsync("CategoryMenu")
                                    </div>
                                </div><!-- / .row -->
                            </div><!-- / .dropdown-menu -->
                        </li><!-- / Elements -->
                    </ul><!-- / .nav .navbar-nav -->

                </div>
                <!--/.navbar-collapse -->
            </div><!-- / .container -->
        </nav>
    </section>

    @RenderBody()

    <footer class="footer section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-media">
                        <li>
                            <a href="#!">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="tf-ion-social-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-menu text-uppercase">
                        <li>
                            <a href="#!">CONTACT</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Shopping", new { categoryName = "All Shoes" })">SHOP</a>
                        </li>
                        <li>
                            <a href="#!">Pricing</a>
                        </li>
                        <li>
                            <a href="#!">PRIVACY POLICY</a>
                        </li>
                    </ul>
                    <p class="copyright-text">Copyright &copy;2021, Designed &amp; Developed by <a href="#!" style="font-weight: bold;">Nguyen Chi Thanh (Troy)</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="~/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="~/plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="~/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="~/plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="~/plugins/google-map/gmap.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Main Js File -->
    <script src="js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
